<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All Offices
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >
  <ion-card *ngFor="let office of searchItems" [style.border-left]="'5px solid ' + office.color">
      <ion-item lines="none">
        <ion-card-title (click)="viewOffice(office)">{{office.name}} </ion-card-title>
        <ion-icon (click)="editOffice(office)" slot="end" name="create-outline"></ion-icon>   
      </ion-item>
      <ion-list>
        <ion-item (click)="viewOffice(office)">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label style="padding-left: 10px;">Staff Members in Office</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-card-subtitle >More Info</ion-card-subtitle>
          <ion-icon (click)="toggleCollapse($event, office)" name="chevron-down-outline" *ngIf="office.isCollapsed"></ion-icon>
          <ion-icon (click)="toggleCollapse($event, office)" name="chevron-up-outline" *ngIf="!office.isCollapsed"></ion-icon>
        </ion-item>
      </ion-list>
      
      <ion-list *ngIf="!office.isCollapsed" (click)="viewOffice(office)">
        <ion-item lines="none">
          <ion-icon name="call-outline"></ion-icon>          
          <ion-label style="padding-left: 10px;">{{office.tel}}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label style="padding-left: 10px;">{{office.email}}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label style="padding-left: 10px;">{{office.capacity}}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="location-outline"></ion-icon>
          <ion-label style="padding-left: 10px;">{{office.address}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>



    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addOfficePage()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
</ion-content>
